html {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
  }
  
*, *:before, *:after {
    box-sizing: inherit;
} 
  
body {
    margin: 0;
    font-weight: normal;
    min-width: 300px;
}

.form-section {
    height: 100vh;
    width: 100%;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-link {
    height: 40px;
    width: 350px;
    padding-top: 10px;
    text-align: center;
    background-color: #fb8500;
    border-radius: 15px;
    margin-top: 10px;
    border: 1px solid gray;
    cursor: pointer;
}

.form-link:hover {
    background-color: #ef744b;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

.email-form {
    height: 80%;
    width: 350px;
    background-color: #19535f;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 15px;
}

.form-submit {
    cursor: pointer;
    width: 250px;
}

.email-form > input {
    width: 250px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid gray;
    text-align: center;
    word-wrap: break-word;
}

.email-form > div {
    margin-top: 10px;
    width: 250px;
}

.email-form > div {
    color: white;
    text-align: center;
}

.my-email {
    font-size: 2rem;
}

.form-message {
    width: 250px;
    height: 200px;
}