html {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
  }
  
*, *:before, *:after {
    box-sizing: inherit;
} 
  
body {
    margin: 0;
    font-weight: normal;
    min-width: 300px;
}