html {
    /* box-sizing: border-box; */
    font-family: 'Montserrat', sans-serif;
  }
  
/* *, *:before, *:after {
    box-sizing: inherit;
  } */
  
body {
    margin: 0;
    font-weight: normal;
  }

section {
    /* height: 100vh; */
    background-color: white;
}

.me {
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 40px;
}

footer {
    /* height: 500px; */
    background-color: black;
    font-weight: 200;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

ul.show {
    display: block;
}

li {
    text-decoration: none;
    font-weight: 200;
}

h1 {
    font-size: 90px;
    margin: 0;
}

h2 {
    font-size: 50px;
}

p {
    margin: 0;
    font-size: 30px;
}

.me-container {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.me-text {
    margin-left: 40px;
    margin-bottom: 250px;
}

.btn {
    width: 200px;
    height: 55px;
    border-radius: 30px;
    background-color: coral;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: #ef744b;
}

.btn:active {
    background-color: darkgrey;
    color: #808080;
}

.socials {
    padding-bottom: 200px;
    /* display: flex;
    flex-direction: column; */
}

.social {
    fill: white;
    margin: 20px;
}

.about-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.project-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

.headshot {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    margin-left: 90px;
}

.headshot-container {
    display: flex;
    align-items: center;
}

.project-card {
    display: flex;
    flex-direction: column;
    /* width: 400px;
    height: 350px;
    box-shadow: 5px 5px 5px grey; */
    margin: 10px;
}

.project-container {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
    
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }

    /* .contact-container {
        display: flex;
        flex-direction: column;
    } */
}

.project-img {
    width: 400px;
    height: 400px;
    box-shadow: 5px 5px 5px grey;
}

.sub-text {
    font-size: 13px;
}

hr {
    margin-left: 90px;
    margin-right: 90px;
}

.project-link {
    text-decoration: none;
    color: #ef744b
}

a {
    text-decoration: none;
    color: white;
}

footer {
    margin-bottom: 0;
    height: 400px;
}

.contact-container {
    display: flex;
    height: 400px;
    justify-content: space-between;
    text-align: center;
}

.email-form {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 120px;
}

.contact-info {
    color: white;
    padding: 120px;
}

input {
    margin-bottom: 5px;
    width: 250px;
}

.burger {
    display: none;
}

.burger:focus {
    outline: 0;
}

@media only screen and (max-width: 1000px){
    .burger {
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        margin: 20px;
    }

    ul {
        display: none;
        background-color: #67687a;
        margin: 0px;
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
    }

    .logo {
        display: none;
    }
}